 <div style="color: black; position: absolute; left: 15%;"> 
        <h1>Enter Details</h1> 
        <button ng-click="logout()">Logout</button>
     </div> 
     <div class="container" style="position: absolute; top: 18%; left: 14%;"> 
         <form action="" class="form-horizontal">
             <div class="file-field" style="position: relative; right: 38%;">
               <div class="mb-4">
                 <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                   class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar" style="position: relative; width: 14%; left: 105%;">
               </div>
               <div class="d-flex justify-content-center">
                 <div class="btn btn-mdb-color btn-rounded float-left" style="position: relative; left: 57%;">
                   <span>Add photo</span>
                   <input type="file">
                 </div>
               </div>
             </div>
             <div style="position: relative; left: 8%;">
                 <h3>Personal Info</h3>
             </div> 
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id1">Full Name</label> 
                 <div class="col-md-8"> 
                     <input class="form-control" type="text" id="id1" placeholder="Please enter full name" ng-model="full_name"> 
                 </div> 
             </div> 
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Sex</label> 
                 <div class="col-md-8">
                     <select>
                         <option value="">--Please choose an option--</option>
                         <option value="male">Male</option>
                         <option value="female">Female</option>
                         <option value="other">Other</option>
                     </select>  
                 </div> 
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id1">Has the applicant ever changed name</label>
                 <div class="form-check-inline">
                     <label class="form-check-label col-md-1" >
                         <input type="radio" class="form-check-input" name="optradio">Yes
                     </label>
                 </div>
                 <div class="form-check-inline">
                 <label class="form-check-label col-md-1">
                     <input type="radio" class="form-check-input" name="optradio">No
                 </label>
                 </div>
             </div> 
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Date of birth</label> 
                 <div class="col-md-8"> 
                     <input class="form-control" type="date" id="id4" placeholder=""> 
                 </div> 
             </div> 
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Place of birth</label> 
                 <div class="col-md-8"> 
                     <input class="form-control" type="date" id="id5" placeholder=""> 
                 </div> 
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Profession</label> 
                 <div class="col-md-8"> 
                     <input class="form-control" type="date" id="id5" placeholder="Please enter profession"> 
                 </div> 
             </div>
             <div style="position: relative; left: 8%;">
                 <h3>Parent's Info</h3>
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Father</label> 
                 <div class="col-md-4"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter name of your father"> 
                 </div> 
                 <div class="col-md-4"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter surname of your father"> 
                 </div>  
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Mother</label> 
                 <div class="col-md-4"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter name of your mother"> 
                 </div> 
                 <div class="col-md-4"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter surname of your mother"> 
                 </div>  
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Husband/Wife</label> 
                 <div class="col-md-4"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter name of your husband or wife"> 
                 </div> 
                 <div class="col-md-4"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter surname of your husband or wife"> 
                 </div>  
             </div>
             <div style="position: relative; left: 8%;">
                 <h3>Address Info</h3>
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Permanent address telephone no. and police station</label> 
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter permanent address"> 
                 </div> 
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter telephone no."> 
                 </div>
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter name of police station"> 
                 </div>  
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Present residing address telephone no. police station and residing since</label> 
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="present address"> 
                 </div> 
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="telephone no."> 
                 </div>
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="police station"> 
                 </div>
                 <div class="col-md-2"> 
                     <input class="form-control" type="date" id="id5" placeholder="residing since"> 
                 </div>  
             </div>
             <div style="position: relative; left: 8%;">
                 <h3>Reference</h3>
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Reference of two persons</label> 
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="Name"> 
                 </div>
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="Address"> 
                 </div>
                 <div class="col-md-2"> 
                     <input class="form-control" type="date" id="id5" placeholder="Tel no."> 
                 </div>
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2"></label> 
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="Name"> 
                 </div>
                 <div class="col-md-2"> 
                     <input class="form-control" type="text" id="id5" placeholder="Address"> 
                 </div>
                 <div class="col-md-2"> 
                     <input class="form-control" type="date" id="id5" placeholder="Tel no."> 
                 </div>
             </div>
             <div style="position: relative; left: 8%;">
                 <h3>Passport</h3>
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Citizenship of India by</label>
                 <label class="checkbox-inline col-md-2">
                   <input type="checkbox" value="">Birth
                 </label>
                 <label class="checkbox-inline col-md-2">
                   <input type="checkbox" value="">Descent
                 </label>
                 <label class="checkbox-inline col-md-2">
                   <input type="checkbox" value="">Registration
                 </label>
                 <label class="checkbox-inline col-md-2">
                   <input type="checkbox" value="">Naturalization
                 </label>
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">Furnish details of previous passport</label>
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">1. Passport/Travel Document no.</label> 
                 <div class="col-md-8"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter number"> 
                 </div>
             </div>
             <div class="form-group has-success"> 
                 <label class="control-label col-md-2" for="id2">2. Date and place of issue</label> 
                 <div class="col-md-4"> 
                     <input class="form-control" type="date" id="id5" placeholder="Please enter date"> 
                 </div> 
                 <div class="col-md-4"> 
                     <input class="form-control" type="text" id="id5" placeholder="Please enter place"> 
                 </div>
             </div>
             <button type="button" class="btn btn-success">Submit</button>
         </form>
         </div>