<!-- <nav class="" style="background-color: #464580!important;margin-bottom: bottom 0px !important;">
	<div class="container">
	  <a class="navbar-brand" href="#">
		<img src="img/Image/global.png" class ="globe-logo" alt="global">
	  </a>
	</div>
	<div class="container">
	  <a class="navbar-brand" href="#">
		<img src="img/Image/India Flag.png" class="flag-logo" alt="India">
	  </a>
	</div>
  </nav> -->
  <style>
	 .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: 100%;
}
/* .flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
} */
  </style>
<div class="navbar1">
	
	<div class="logo">
		<h2 style="color: aliceblue;">Passport</h2>
	</div>
	
	
	<ul class="links">
		<!-- <li><a href="#">Passport Service</a></li>
		<li><a href="#">Passport Service</a></li>
		<li><a href="#">Oci/Pio Service</a></li>
		<li><a href="#">Misclennous Service</a></li> -->
	</ul>
	
	
	<div class="right">
		<button style="background-color: blue">Login</button>
	</div>
	
	<div class="toggle">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
	
	
</div>
<div style=" background-image: url('img/Image/1.jpg');height: 80vh;" class="form-wizard">
	
		
	<!-- <div class="col-md-3 " style="left: 30%;">
		<button ng-click="setTab(1)" heading="Scenario 1" class="dropbtn">Passport Service</button>
						
	</div>
	<div class="col-md-3 " style="left: 15%;">
	    <button ng-click="setTab(2)" heading="Scenario 2" class="dropbtn">Passport Service</button>
						
	</div>
	<div class="col-md-3">
		<button ng-click="setTab(3)" heading="Scenario 3" class="dropbtn">Oci/Pio Service</button>
						
	</div>
	<div class="col-md-3" style="right: 15%;">
		<button ng-click="setTab(4)" heading="Scenario 4" class="dropbtn">Misclennous Service</button>
				
	</div> -->

	<ul class="flex-container tabs"  style="padding-top: 14px;">                                                                        
		<!-- <li ng-class="{ active: isSet(1) }">
			
			<a ng-click="setTab(1)" heading="Scenario 1" class="dropbtn flex-item" >Passport Service</a>
		</li> -->
		<li ng-class="{ active: isSet(1) }">
			<!-- <a data-target="#contact" data-toggle="tab" id="can_contact">Contact Details</a> -->
			<a ng-click="setTab(1)" heading="Scenario 1" class="dropbtn flex-item" style="color: aliceblue;">Passport Service</a>
		</li>
		<li ng-class="{ active: isSet(2) }">
			<a  ng-click="setTab(2)" heading="Scenario 2" class="dropbtn flex-item" style="color: aliceblue;">Professional Details</a>
		</li>
		<li ng-class="{ active: isSet(3) }">
			<a ng-click="setTab(3)" heading="Scenario 3" class="dropbtn flex-item" style="color: aliceblue;">Oci/Pio Service</a>
		</li>                                                        
		<li ng-class="{ active: isSet(4) }">
			<a ng-click="setTab(4)" heading="Scenario 4" class="dropbtn flex-item" style="color: aliceblue;">Misclennous Service</a>
		</li>                                                       
	</ul>
	<!-- Tabs Content -->
	<div class="tab-pane"  ng-show="isSet(1)" id='Scenario1'>

			<div class="row">
				<div class="col-sm-12">

					<div class="panel panel-default">
						<div class="panel-body">

							<form role="form" class="form-horizontal" role="form">

								<h1>HEllo</h1>
							</form>

						</div>
					</div>

				</div>
			</div>

	</div>
	<div class="tab-pane active"  ng-show="isSet(2)" id='Scenario2'>

			<div class="row">
				<div class="col-sm-12">

					<div class="panel panel-default">
						<div class="panel-body">

							<form role="form" class="form-horizontal" role="form">

								<h1>HEllo2</h1>
							</form>

						</div>
					</div>

				</div>
			</div>

	</div>
	<div class="tab-pane active"  ng-show="isSet(3)" id='Scenario3'>

			<div class="row">
				<div class="col-sm-12">

					<div class="panel panel-default">
						<div class="panel-body">

							<form role="form" class="form-horizontal" role="form">

								<h1>HEllo3</h1>
							</form>

						</div>
					</div>

				</div>
			</div>

	</div>
	<div class="tab-pane active"  ng-show="isSet(4)" id='Scenario4'>

			<div class="row">
				<div class="col-sm-12">

					<div class="panel panel-default">
						<div class="panel-body">

							<form role="form" class="form-horizontal" role="form">

								<h1>HEllo4</h1>
							</form>

						</div>
					</div>

				</div>
			</div>

	</div>
	
	<!-- <ul style="width: 38px;background-color: aliceblue;">
			
			<li class="next" >
				<a>Next <i class="entypo-right-open"></i></a>
			</li>
			
		</ul> -->
		<p align="center">
			<button>Next</button>
		</p>
			
		
		

	
		
	
	
</div>

	
	  