<div class="container" style="position: absolute; top: 10%; left: 1%;"> 
    <form action="" class="form-horizontal">
        <div style="position: relative; left: 11%; bottom: 10px;">
            <h3>Personal Details</h3>
        </div> 
        <div class="form-group has-success"> 
            <label class="control-label col-md-2" for="id1">Name</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="text" id="id1" placeholder="Please enter full name"> 
            </div> 
        </div> 
        <div class="form-group has-success" style="position: relative; left: 31px;"> 
            <label class="control-label col-md-2" for="id2">Phone No.</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="text" id="id2" placeholder="Please enter phone number"> 
            </div> 
        </div> 
        <div class="form-group has-success" style="position: relative; left: 5px;"> 
            <label class="control-label col-md-2" for="id3">E-mail</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="text" id="id3" placeholder="Please enter email"> 
            </div> 
        </div> 
        <div class="form-group has-success" style="position: relative; left: 18px;"> 
            <label class="control-label col-md-2" for="id4">Address</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="text" id="id4" placeholder="Please enter address"> 
            </div> 
        </div>
        <div style="position: relative; left: 10%;">
            <h3>Indian Passport Details</h3>
        </div> 
        <div class="form-group has-success" style="position: relative; left: 68px;"> 
            <label class="control-label col-md-2" for="id5">Passport Number</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="text" id="id5" placeholder="Please enter number of passport"> 
            </div> 
        </div> 
        <div class="form-group has-success" style="position: relative; left: 39px;"> 
            <label class="control-label col-md-2" for="id6">Date of Issue</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="date" id="id6" placeholder="Please enter issue date"> 
            </div> 
        </div> 
        <div class="form-group has-success" style="position: relative; left: 46px;"> 
            <label class="control-label col-md-2" for="id7">Place of Issue</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="text" id="id7" placeholder="Please enter issue place"> 
            </div> 
        </div>
        <div style="position: relative; left: 10%;">
            <h3>Australian/Foreign Passport Details</h3>
        </div> 
        <div class="form-group has-success" style="position: relative; left: 68px;"> 
            <label class="control-label col-md-2" for="id8">Passport Number</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="text" id="id8" placeholder="Please enter number of passport"> 
            </div> 
        </div> 
        <div class="form-group has-success" style="position: relative; left: 39px;"> 
            <label class="control-label col-md-2" for="id9">Date of Issue</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="date" id="id9" placeholder="Please enter issue date"> 
            </div> 
        </div> 
        <div class="form-group has-success" style="position: relative; left: 46px;"> 
            <label class="control-label col-md-2" for="id10">Place of Issue</label> 
            <div class="col-md-8"> 
                <input class="form-control" type="text" id="id10" placeholder="Please enter issue place"> 
            </div> 
        </div>
    </form>
</div>